
.body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    background-color: #1F2937;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 288px;
    flex-wrap: wrap;
}

.logo {
    font-size: 24px;
    color: #F9FaF8;
    margin-right: auto;
}

.links {
    margin-left: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

a, #herotext {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 300px;
    gap: 24px;
}

title {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9F1F8;
    margin: 0;
    padding: 0;
}

#herotext {
    margin: 0;
    padding: 0;
}

button {
    background-color: #3882F6;
    color: #F9F1F8;
    border-style: solid;
    border-radius: 8px;
    padding: 4px 16px;
    border-color: #3882F6;
    font-weight: bold;
    margin: 8px 0;
    min-width: 30px;
}

.hold {
    color: #F9F1F8;
    background-color: #555557;
    width: 500px;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    min-width: 300px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    padding: 0 312px;
}

h3 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    text-align: center;
}

.randoms {
    display: flex;
    justify-content: space-around;
    padding: 8px;
    margin-bottom: 48px;
    gap: 48px;
    flex-wrap: wrap;
}

.random {
    width:165px;
    text-align: center;
}

.blank {
    width: 165px;
    height: 165px;
    border: 2px solid #3882F6;
    border-radius: 8px;
    margin: 0;
}

#caption {
    width: 145px;
    margin: 0;
    padding: 8px;
}

.quote {
    background-color: #E5E7EB;
    padding: 48px 540px;
    display: flex;
    min-width: 400px;
    flex-direction: column;
    align-items: center;
}

#maybe {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

#thor {
    font-weight: bold;
    text-align: right;
    padding-right: 48px;
}

.action {
    padding: 60px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.time {
    background-color: #3882F6;
    color: #F9F1F8;
    margin: 0;
    display: flex;
    width: 45%;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding: 12px 120px;
}

h4, #click {
    margin: 0;
    padding: 2px;
}

.signup {
    border: 2px solid #F9F1F8;
    border-color: #F9F1F8;
    border-radius: 8px;
    min-width: 30px;
}

.footer {
    color: #F9F1F8;
    padding: 12px 0;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}
